{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<style>
#main-footer{
    position: relative;
    bottom: 0;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%; 
    padding: 0px;
    margin-top: 100px;
    margin-bottom: 10px;
}
.section-container {
    width: 100%;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 15px;
}
.text-primary {
    color: #007bff;
    font-size: 24px;
}
.delete-icon {
    font-size: 24px;
    text-align: right;
    color: red;
}
table {
    width: 100%; 
    max-width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 2px solid #ddd;
    padding: 15px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}
table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.btn {
    background-color: #ba93b2;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.cont-add {
    display: flex;
    /* justify-content: flex-end; */
    margin-bottom: 10px;
}
.cont-add a {
    margin-left: auto;
}
.cont-add h2 {
    margin: 10px;
}
</style>
<div class="container">
    <div class="section-container">
        <div class="cont-add">
        <h2>Pets</h2>
        {% if request.user.is_staff %}
        <a href="{% url 'pet_create' %}" class="btn">Add Pet +</a>
        {% endif %}
        </div>
        <table>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Animal Type</th>
                <th>Description</th>
                <th>Adopted</th>
                <th>Up for Adoption</th>
                <th>Medical History</th>
                <th>Deceased</th>
                {% if request.user.is_staff %}
                <th>Actions</th>
                {% endif %}
            </tr>
            {% for pet in pet_list %}
            <tr>
                <td><a href="{% url 'pet_detail' pet.id %}"><img src="{{ pet.picture.url }}" alt="{{ pet.name }}" style="width:100px;height:auto;"></a></td>
                <td><a href="{% url 'pet_detail' pet.id %}">{{ pet.name }}</a></td>
                <td>{{ pet.animal_type }}</td>
                <td>{{ pet.description }}</td>
                <td>{% if pet.adopted %} Yes {%else%} No {%endif%}</td>
                <td>{% if pet.up_for_adoption %} Yes {%else%} No {%endif%}</td>
                <td>{{ pet.medical_history }}</td>
                <td>{% if pet.deceased %} Yes {%else%} No {%endif%}</td>
                {% if request.user.is_staff %}
                <td style="align-items: center;">
                    <a href="{% url 'pet_update' pet.id %}"><i class="fas fa-edit text-primary"></i></a>
                    <a href="{% url 'pet_delete' pet.id %}"><i class="fas fa-trash-alt delete-icon" style="color:red;"></i></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
{% include 'accounts/footer.html' %}
