/* style_register.css */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #dbdce2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative; /* Ensure correct positioning of top and bottom rectangles */
}

.rect {
    width: 100%;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
}

.rect img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: 20px;
}

.bottom-rect {
    width: 100%;
    height: 60px;
    background-color: #ba93b2;
    position: absolute;
    bottom: 0;
}

.container {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #ba93b2;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #cce2b5;
}